@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Helvetica, sans-serif;
  background-color: #eff1f2;
  color: #080808;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}